@{
  ViewBag.Title = "Ejercicios de CSS3";
}

  <ul class="item-list">
    <li>
      <a href="ComoSeUsa1">Cómo se usa 1</a>
    </li>
    <li>
      <a href="ComoSeUsa2">Cómo se usa 2</a>
    </li>
    <li>
      <a href="ComoSeUsa3">Cómo se usa  3</a>
    </li>
    <li>
      <a href="Selectores1">Selectores 1</a>
    </li>
    <li>
      <a href="Selectores2">Selectores 2</a>
    </li>
    <li>
      <a href="Selectores3">Selectores 3</a>
    </li>
    <li>
      <a href="MaquetaciónDeDiseñoFijo">Maquetación de diseño fijo</a>
    </li>
    <li>
      <a href="MaquetaciónDeDiseñoElastico">Maquetación de diseño elastico</a>
    </li>
  </ul>