<style>
	.selectores3 a:visited {
		text-decoration: none;
		background-color: white;
		color: darkgreen;
	}	

	.selectores3 a:active {
		text-decoration: none;
		background-color: white;
		color: orange;
	}

	.selectores3 a:focus {
		text-decoration: underline;
		background-color: white;
		color: blue;
	}

	.selectores3 a:hover {
		text-decoration: underline;
		background-color: red;
		color: white;
	}
	.selectores3 a {
		text-decoration: none;
		color: red;
		background-color: white;
	}

</style>
<div class="selectores3">
	<h1>Universidad de Buenos Aires</h1>
	<ul>
		<li><a href="">Presentación</a></li>
		<li><a href="">Estudios</a></li>
		<li><a href="">Alumnos</a></li>
		<li><a href="">Deportes</a></li>
		<li><a href="">Servicios</a></li>
	</ul>
</div>

