@{
  ViewBag.Title = "Ejercicios de HTML";
}

  <ul class="item-list">
    <li>
      <a href="../HTML/Index">Ejercitación HTML</a>
    </li>
    <li>
      <a href="../CSS3/Index">CSS3</a>
    </li>
  </ul>
