@{
    ViewBag.Title = "Ejercicios de HTML";
}

    <ul>
        <li>
            <a href="../ConceptosBasicos1/Index">Conceptos Básicos 1</a>
        </li>
        <li>
            <a href="../ConceptosBasicos2/Index">Conceptos Básicos 2</a>
        </li>
        <li>
            <a href="../ConceptosBasicos3/Index">Conceptos Básicos 3</a>
        </li>
        <li>
            <a href="../Enlaces/Index">Enlaces</a>
        </li>
    </ul>
