@{
    ViewBag.Title = "Ejercicios de HTML";
}

    <ul>
        <li>
            <a href="../ConceptosBasicos1/Index">Conceptos Básicos 1</a>
        </li>
        <li>
            <a href="../ConceptosBasicos2/Index">Conceptos Básicos 2</a>
        </li>
        <li>
            <a href="../ConceptosBasicos3/Index">Conceptos Básicos 3</a>
        </li>
        <li>
            <a href="../Enlaces/Index">Enlaces</a>
        </li>
        <li>
            <a href="../Listas/Index">Listas</a>
        </li>
        <li>
            <a href="../Tablas1/Index">Tablas 1</a>
        </li>
        <li>
            <a href="../Tablas2/Index">Tablas 2</a>
        </li>
        <li>
            <a href="../Formularios1/Index">Formularios 1</a>
        </li>
        <li>
            <a href="../Formularios2/Index">Formularios 2</a>
        </li>
        <li>
            <a href="../FormulariosHTML5/Index">Formularios HTML5</a>
        </li>
    </ul>
