
@{
    ViewBag.Title = "Formulario de prueba HTML5";
}

<form method="get" action="">

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required autofocus />

    <br />
    <br />

    <label for="email">Correo:</label>
    <input type="email" name="email" placeholder="nombre@proveedor.com" />

    <br />
    <br />

    <label for="url">URL</label>
    <input type="url" name="url" placeholder="Escriba la URL de su página personal" />

    <br />
    <br />

    <label for="date">Fecha</label>
    <input type="date" name="date" />

    <br />
    <br />

    <label for="time">Hora</label>
    <input type="time" name="time" />

    <br />
    <br />

    <label for="datetime">Fecha y Hora</label>
    <input type="datetime" name="datetime" />

    <br />
    <br />

    <label for="month">Mes</label>
    <input type="month" name="month" />

    <br />
    <br />

    <label for="week">Semana</label>
    <input type="week" name="week" />

    <br />
    <br />

    <label for="number">Número</label>
    <input type="number" name="number" min="-10" max="10" />

    <br />
    <br />

    <label for="phone">Telefono</label>
    <input type="tel" name="phone" />

    <br />
    <br />

    <label for="search">Busqueda</label>
    <input type="search" name="search" />

    <br />
    <br />

    <label for="color">Color:</label>
    <input type="color" name="color" />

    <br />
    <br />

    <button type="submit">Enviar</button>
    <br />
</form>

