
  <div id="about">
    <h2>Acerca de Mí</h2>

    <p>
      Mi nombre es Kowalczuk Alexis, desarrollador de Software desde hace más de 8 años.
    </p>
    <br />
    <p>
      Técnico electrónico, estudiante de Ingeniería en Electrónica que decidió cambiar de rumbo y fortalecerse en el área de sistemas. 
      Autodidacta, con la fortuna de cruzarse con grandes maestros del área del desarrollo de sistemas los cuales me motivaron a trabajar de forma prolija ordenada y por sobre todas las cosas con mucha pasión.
    </p>
    <br />
    <p>
      Fuera del ámbito académico, fanático del mundo medieval, entusiasta de la música y eterno practicante de violín.
    </p>

  </div>
