
	<div id="home">
		<h2>Bienvenido</h2>

		<p>
			A continuación, se detalla las opciones 
			que dispone el sitio:
		</p>

		<ul>
			<li><strong>Home:</strong> Redirige a la pagina de inicio.</li>
			<li><strong>Ejercicios:</strong> Muestra los ejercicios resueltos cargados hasta el momento. </li>
			<li><strong>Contacto:</strong> Información de contacto. </li>
			<li><strong>About:</strong> Información sobre el autor del sitio. </li>
		</ul>

	</div>
