@{
  ViewBag.Title = "Ejercicios de HTML";
}

<ul class="item-list">
  <li>
    <a href="ConceptosBasicos1">Conceptos Básicos 1</a>
  </li>
  <li>
    <a href="ConceptosBasicos2">Conceptos Básicos 2</a>
  </li>
  <li>
    <a href="ConceptosBasicos3">Conceptos Básicos 3</a>
  </li>
  <li>
    <a href="Enlaces">Enlaces</a>
  </li>
  <li>
    <a href="Listas">Listas</a>
  </li>
  <li>
    <a href="Tablas1">Tablas 1</a>
  </li>
  <li>
    <a href="Tablas2">Tablas 2</a>
  </li>
  <li>
    <a href="Formularios1">Formularios 1</a>
  </li>
  <li>
    <a href="Formularios2">Formularios 2</a>
  </li>
  <li>
    <a href="FormulariosHTML5">Formularios HTML5</a>
  </li>
</ul>