/*General*/
@font-face {
	font-family: Segoe UI;
	src: local("Segoe UI"), url(../Content/font/segoeui.TTF) format("truetype");
}
@font-face {
	font-family: Segoe UI Emoji;
	src: local("Segoe UI Emoji"), url(../Content/font/seguiemj.TTF) format("truetype");
}
@font-face {
	font-family: UniversS 45;
	src: local("UniversS 45"), url(../Content/font/UVSL.TTF) format("truetype");
}
@font-face {
	font-family: Technical;
	src: local("Technical"), url(../Content/font/TECHNCLI.TTF) format("truetype");
}
@font-face {
	font-family: MS Reference Sans Serif;
	src: local("MS Reference Sans Serif"), url(../Content/font/REFSAN.TTF) format("truetype");
}

html {
	width: 100%;
	height: 100%;
}

/*Layout*/

#container {
	width: 1500px;
	margin: 10px auto;
	background-color: #F6F7F9;
}

	#container header {
		width: 100%;
	}

	#container section {
		width: 70%;
		float: left;
	}

	#container aside {
		width: 30%;
		float: right;
	}

	#container footer {
		width: 100%;
		height: 220px;
		/*clear: left;*/
		display: flex;
	}

.red-rectangle {
	background: #675050;
	border: 1px solid #707070;
	transform: rotate(-6deg);
}

.blue-rectangle {
	background: #505D67;
	border: 1px solid #707070;
	transform: rotate(3deg);
}

/*HEADER*/
#container header {
	height: 280px;
	display: flex;
}

header h1 {
	z-index: 0;
	font-family: "Segoe UI";
	font-size: 64px;
	font-weight: bold;
	color: #D1D1D1;
	margin: 50px;
}

header h2 {
	font-family: "Segoe UI Emoji";
	font-weight: normal;
	font-size: 30px;
	color: #D1D1D1;
	position: relative;
	right: 0%;
	top: 12%;
	height: 100px;
	width: 360px;
}

header nav li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.header-rectangle-container {
	height: 280px;
	position: absolute;
	width: 1500px;
	overflow: hidden;
	z-index: 0;
}

header .red-rectangle {
	position: relative;
	width: 120%;
	height: 360px;
	left: -50px;
	top: -560px;
}


header .blue-rectangle {
	position: relative;
	width: 120%;
	height: 360px;
	z-index: 0;
	left: 150px;
	top: -130px;
	opacity: 0.7;
}

header nav li {
	position: relative;
	right: 100px;
	top: 50px;
}

	header nav li > a {
		text-decoration: none;
		font-family: "Segoe UI Emoji";
		font-size: 33px;
		color: #D1D1D1;
		margin: 0px 15px;
	}

		header nav li > a:hover {
			color: #ececec;
		}

header nav {
	transform: rotate(3deg);
	position: relative;
	right: -25%;
	top: 44%;
	height: 80px;
}

/*SECTION*/
#container section {
	height: 400px;
	overflow-y:auto;
}

/*ASIDE*/
aside {
	background: #B2B5B4;
	padding-top: 280px;
	/*padding-bottom: 50px;*/
	margin-top: -280px;
	/*margin-bottom: 120px;*/
	height: 400px;
}

	aside h2 {
		font-family: "UniversS 45";
		margin: 20px;
		font-weight: lighter;
	}

	aside p {
		font-family: Technical;
		font-size: 20px;
		margin: 0px 40px;
	}

/*FOOTER*/
footer {
	width: 100%;
}

.footer-rectangle-container {
	height: 220px;
	position: absolute;
	width: 1500px;
	overflow: hidden;
	z-index: 0;
}

footer .red-rectangle {
	position: relative;
	width: 120%;
	height: 200px;
	right: 50px;
	bottom: 100px;
	opacity: 0.45;
	z-index: -1;
}

footer .blue-rectangle {
	position: relative;
	width: 120%;
	height: 200px;
	left: -20px;
	top: 110px;
}

.footer-info {
	z-index: 1;
}

footer img {
	height: 42px;
}

.footer-info {
	font-family: "Segoe UI Emoji";
	font-size: 30px;
	position: relative;
	color: #C2C1C1;
	top: 110px;
	left: 40px;
	height: 30px;
}

footer ul {
	list-style: none;
	position: relative;
	top: 140px;
	left: 700px;
	height: 60px;
	z-index: 1;
}

	footer ul li {
		display: inline;
		margin: 10px;
	}

/*ARTICLE*/

section article {
	margin: 10px;
	overflow-y: auto;
}

/*HOME*/
#home h2 {
	font-family: "MS Reference Sans Serif";
	font-size: 35px;
	margin-left: 40px;
	margin-bottom: 20px;
	color: #4E4E4E;
}

#home p, #home li {
	font-family: "Segoe UI Emoji";
	font-size: 25px;
	margin-left: 40px;
	margin-bottom: 20px;
	color: #4E4E4E;
}

/*EJERCICIOS*/
.item-list {
	margin: 50px;
	list-style: none;
}


	.item-list li > a:hover {
		color: #675050;
	}

	.item-list li {
		margin-bottom: 20px;
	}

		.item-list li > a {
			text-decoration: none;
			font-family: "Segoe UI Emoji";
			font-size: 33px;
			color: #6e6d7d;
			margin: 0px 15px;
		}
